 <div class="cookiesSlide">
        <p>Ce site utilise des cookies nécessaires au bon fonctionnement du site. En poursuivant votre navigation sur le site, vous acceptez l'utilisation de ces derniers.</p>
        <button class="btn btn-danger btncookie">OKE</button>
</div>