<footer class="mt-5">
    <div class="footer container-fluid bg-warning">
        <div class="logo">
            <h4 class="mx-3"><i class="fa-solid fa-martini-glass-citrus"></i> Drink Tea'm</h4>
        </div>
        <nav>
            <ul>
                <li><a href={{path("home")}}>Accueil</a></li>
                <li><a href={{path("recettes_index")}}>Les recettes<a/></li>
                <li><a href={{path("legacy")}}>Légal</a></li>
            </ul>
        </nav>
       
    </div>
    <div class="container-fluid text-center">
        <p>Copyright &copy; Maurine Duray Epse2023 - Travail scolaire</p>
    </div>
</footer>