{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="slide container-fluid " id="home">
        <div id="txt-header">
            <h1 ><i class="fa-solid fa-martini-glass-citrus"></i> Drink <b>Tea'</b>m</h1>
            <br><p>Le rendez-vous des amateurs de boissons maisons !</p>
        </div>
</div>

    <h1 class="mx-5 mt-4">Bienvenue dans l'administration</h1>
    <div class="row d-flex justify-content-around card-orange" style="width:80%, margin-left:10%">
       
            <a href="{{path('dashboard_recipes')}}" class="col-10 mt-2 btn btn-success">Gestion des recettes</a>
            <a href="{{path('dashboard_users')}}" class="col-10 mt-2 btn btn-success">Gestion des utilisateurs</a>
            <a href="{{path('dashboard_comments')}}" class="col-10 mt-2 btn btn-success">Gestion des commentaires</a>
            
        
    </div>

{% endblock %}
