{% extends "base.html.twig" %}

{% block title %}Modification du profile utilisateur{% endblock %}

{% form_theme myform 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="slide container">
        <h1>Modification du profil</h1>
        {{form_start(myform)}}

            {{form_widget(myform)}}
            <button type="submit" class="btn btn-warning">Enregistrer les modifications</button>
        {{form_end(myform)}}
    </div>
{% endblock %}